@use '../global/tokens/mixins' as vars;

main {
	min-height: 80vh;
}

.container {
	position: relative;
	width: 100%;
	max-width: var(--site-width-margins);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
	&--vertical-fill {
		height: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}

.container____extended {
	width: 100%;
	max-width: var(--extended-width);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
}

.container____toEdges {
	width: 100%;
	margin: 0 auto;
}

.container____toEdgesMobile {
	position: relative;
	width: 100%;
	margin: 0 auto;
	@include vars.break(tablet) {
		max-width: var(--site-width-margins);
		padding-left: var(--gutter-padding);
		padding-right: var(--gutter-padding);
	}
}

.content-container {
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
	padding-left: var(--gutter-padding);
	padding-right: var(--gutter-padding);
}

.inner-2col {
	width: 100%;
	display: flex;
	flex-direction: column;
	@include vars.break(tablet) {
		gap: var(--column-gap);
		flex-direction: row;
	}
	.col-1 {
		flex: 2;
	}
	.col-2 {
		flex: 5;
	}
}

.inner-2col--50-50 {
	width: 100%;
	display: flex;
	flex-direction: column;
	@include vars.break(tablet) {
		gap: var(--column-gap);
		flex-direction: row;
		min-width: 30rem;
	}
	.col-1 {
		flex: 1;
	}
	.col-2 {
		flex: 1;
	}
}

@mixin articleImagesDefaults {
	display: flex;
	gap: 2vw;
	justify-content: center;
	align-items: flex-start;
}

.article-images {
	&--2 {
		@include articleImagesDefaults;
	}
	&--4 {
		@include articleImagesDefaults;
		@include vars.break(tablet) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			width: 90vw;
			height: auto;
			max-width: 1200px;
			position: relative;
			left: 50%;
			transform: translate(-50%);
		}
	}

	&.extended {
		@include vars.break(tablet) {
			width: 90vw;
			height: auto;
			max-width: 1200px;
			position: relative;
			left: 50%;
			transform: translate(-50%);
		}
	}
}
